<h2> <%= @task.description %> </h2>
<p> Deadline: <%= @task.due_date.strftime("%b %d, %Y") %> </p>
<p> <%= @task.completed? %> </p>

<p><%= button_to "Mark Complete", {:controller => :tasks,
      :action => 'complete', :id => @task.id }, :method => :post %></p>
      
<p><%=link_to "Edit Task", edit_task_path  %></p>

<p><%= button_to "Delete Task", {:controller => :tasks,
      :action => 'destroy', :id => @task.id }, :method => :delete %></p>

<p><%= link_to "Return to Goal", goal_path(@task.goal_id) %></p>
