<h2>Welcome, <%= current_user.email %>!</h2>

<h3><%=  link_to "View All Your Goals", goals_path%></h3>

<p><%=  link_to "Create New Goal", new_goal_path%></p>


<h3>Explore Goals by Category</h3>
<ul>
<% current_user.categories.each do |category| %>
  <li> <%= link_to category.name, category_path(category) %> </li>
<% end %>
</ul>

<h3>Upcoming Deadlines</h3>
<ul>
<% current_user.tasks.each do |task| %>
  <li> <%= link_to task.description, task_path(task) %> </li>
<% end %>
</ul>
