<h1>Enter New Goal</h1>
<%= form_for goal do |f| %>

<%= f.label :title %><br/>
<%= f.text_field :title %><br/>

<%= f.label :description %><br/>
<%= f.text_area :description, size: "24x6" %><br/>

<%= f.label "Choose Existing Category" %><br/>
<%= collection_check_boxes :goal, :category_ids, Category.all, :id, :name %>

<%= f.fields_for :categories, goal.categories.build do |category_fields| %>
<%= f.label "Choose New Category" %><br/>
     <%= category_fields.text_field :name %>
 <% end %></p>

 <%= f.submit "Create Goal" %>
<% end %>
