 <h1>Enter new Goal</h1>
<%= form_for :goal, url: {action: "create"} do |f| %>
  Title: <%= f.text_field :title %><br/>
  Content: <%= f.text_area :content, size: "24x6" %><br/>
  Category: <%= f.text_field :category_name, list: "categories_autocomplete" %>
  <datalist id="categories_autocomplete">
    <% Category.all.each do |category| %>
      <option value="<%= category.name %>">
    <% end %>
  </datalist>
  <textarea name="post[content]"></textarea>
  <%= f.submit "Create Goal" %>
<% end %>
