 <h1>Enter New Goal</h1>
<%= form_for :goal, url: {action: "create"} do |f| %>
  <p>Title:</p> <%= f.text_field :title %><br/>
  <p>Description: </p><%= f.text_area :description, size: "24x6" %><br/>
  <p>Choose Existing Category:</p> <%= f.text_field :category_name, list: "categories_autocomplete" %>
  <datalist id="categories_autocomplete">
    <% Category.all.each do |category| %>
      <option value="<%= category.name %>">
    <% end %>
  </datalist> <br/>
  <p>Create New Category: <p/><textarea name="post[content]"></textarea>
  <%= f.submit "Create Goal" %>
<% end %>
