<h2>Goal: <%= @goal.title %></h2

<p><%= @goal.description %></p>

<h4>Categories:</h4>
<ul>
 <% @goal.categories.each do |category| %>
  <li><%= category.name %> </li>
<% end %>
</ul>

<h3>To Do</h3>
<ul>
<% @goal.tasks.each do |task| %>
  <li><%= task.description %>, Deadline: <%= task.due_date %></li>
<% end %>

</ul>



<p><%=link_to "Edit Goal", edit_goal_path  %></p>

<%= link_to "Add Task", new_goal_task_path(@goal) %>
