<h1 class="goalTitle"><%= @goal.title %></h1>
<p class="goalDescription"><%= @goal.description %></p>

<h4>Categories:</h4>
<ul>
 <% @goal.categories.each do |category| %>
    <li><%= category.name %> </li>
<% end %>
</ul>

<a href="#" class="js-next" data-id="<%=@goal.id%>">Next...</a><br>
<p><%=link_to "Add Another Goal", new_goal_path  %></p>
<p><%= link_to "Add Task", new_goal_task_path(@goal) %></p>
<p><a href="#" class="js-edit" data-id="<%=@goal.id%>">Edit Goal</a></p>
<p><button class="js-delete" data-id="<%= @goal.id %>">Delete Goal</button></p>
